@font-face {
    font-family: 'fonttrans';
    src: url('font.ttf');
}

body{
    font-family: 'fonttrans',sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to top,rgba(255, 53, 188, 0.8),rgba(88, 231, 241, 0.8),rgba(101, 52, 216, 0.8));
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.container{
    padding: 20px;
    display: flex;
    top: 25%;
    width: 80%;
    gap: 50px;
    justify-content: center;
}

#videobox{
    display: flex;
    justify-content: center;
    width: 100%;
    left: 10%;
}

button{
    height: 50px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(253, 133, 133);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    font-size: 14pt;
    font-weight:bold
}

.btnpara{
    display: grid;
    justify-content: center;
}

img{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

p{
    font-weight: bold;
}

video{
    width: 300px;
    transform: scaleX(-1);
}
.card{
    display: grid;
    justify-content: center;
    padding: 20px;
    width: 400px;
    height: 450px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 5px 10px 10px rgba(77, 77, 77, 0.4);
    border-radius: 10px;
}
