.color-1 { background-color: rgb(200, 125, 130); }
.color-2 { background-color: rgb(214, 158, 161); }
.color-3 { background-color: rgb(228, 190, 193); }
.color-4 { background-color: rgb(241, 223, 224); }
.color-5 { background-color: rgb(255, 255, 255); }
